{{define "_default_load_js"}}
<script src="/static/vendor/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="/static/vendor/chart.js/Chart.min.js"></script>
<script src="/static/vendor/datatables.net/jquery.dataTables.js"></script>
<script src="/static/vendor/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/static/js/off-canvas.js"></script>
<script src="/static/js/hoverable-collapse.js"></script>
<script src="/static/js/template.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/static/js/dashboard.js"></script>
<script src="/static/js/data-table.js"></script>
<script src="/static/js/jquery.dataTables.js"></script>
<script src="/static/js/dataTables.bootstrap4.js"></script>
{{end}}