{{define "_sidebar"}}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    {{range $i,$v := .menu}}
    <li class="nav-item">
      <a class="nav-link" {{if eq $v.url "#" }}href="#{{$v.name}}" data-toggle="collapse" aria-expanded="false" aria-controls="{{$v.name}}"{{else}}href="{{$v.url}}"{{end}} >
        <i class="mdi {{$v.icon}} menu-icon"></i>
        <span class="menu-title">{{$v.name}}</span>
        {{if eq $v.url "#" }}
        <i class="menu-arrow"></i>
        {{end}}
      </a>
      {{$child := isHasChildren $v}}
      {{if gt $child 0}}
      <div class="collapse" id="{{$v.name}}">
        <ul class="nav flex-column sub-menu">
          {{range $k,$c := $v.child}}
            <li class="nav-item"> <a class="nav-link" href="{{$c.url}}">{{$c.name}}</a></li>
          {{end}}
        </ul>
      </div>
      {{end}}
    </li>
    {{end}}
  </ul>
</nav>
{{end}}